:host {
    display: flex;
    flex-direction: column;
}

app-search-widget {
    margin: 5px 10px;
    height: 50px;
}

app-pagination-widget {
    height: 60px;
}

.grid-container {
    height: calc(100vh - 50px - 60px);
    overflow: hidden;

    > .grid {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: center;
        overflow-y: scroll;
        height: calc(100vh - 50px - 60px);
    }
}
      